<!-- <!DOCTYPE html>
<html>
  <body>
<div id="home-hero" class="home-hero home-hero-video video-autoplay is-ML img-middle">
  <div class="scale-wrapper">
    <div class="scale-container">
      <div class="hero-media-container">
        <div class="background"><video id="video-autoplay" class="video" autoplay="true" loop="" height="100%" width="100%" poster="https://images.lululemon.com/is/image/lululemon/gbl_may23_traintimes_Hero_Homepage_whatsnew?$gsr_homehero_2x1_lg$"><source type="video/mp4" src="http://images.lululemon.com/is/content/lululemon/homepageAssets/Hero%20video/traintime_5sec_updated.mp4">
          <img src="https://images.lululemon.com/is/image/lululemon/gbl_may23_traintimes_Hero_Homepage_whatsnew?$gsr_homehero_2x1_lg$" title="Your browser does not support the <video> tag"></video>
        </div>
      </div>
    </div>
  </div>
  <div class="content"><div class="container">
    <div class="inner-container">
      <div class="hero-content hero-text-light">
        <h1>Up. Lift.</h1>
        <p></p>
        <p>Elevate your training with the new Train Times Collection.<br></p>

</body>
</html> -->
<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body,h1,h5 {font-family: "helvitica", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('/w3images/onepage_restaurant.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;

.container-video {
  background-color: rgba(0, 0, 0, 0);
  margin-top: -200px;
  padding: 0px;
}

.bg-container-fluid {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
</style>
<head>

<div class="bg-container-fluid">
<div class="container-video w3-display-container w3-text-white">
<video autoplay=""  preload="true"  loop="" muted="" style="height: 200%; width: 120%; margin-top: -20px; margin-bottom: -50px; margin-left: -20px; margin-right: -20px;">
<source src="http://images.lululemon.com/is/content/lululemon/homepageAssets/Hero%20video/traintime_5sec_updated.mp4" type="video/webm">
</video>
  <div class="w3-display-middle w3-jumbo text-center">
    <img src="http://i1.piimg.com/519918/13309dbd2096ba35.png" alt="BosGalRun" style="width:25%">
    <p style="font-size: 32px;">- BosGalRun -</p>
    <p style="font-size: 32px;">元气少女慢跑社区</p><hr>
    <p class="text-center" style="font-size: 20px; color: lightgrey;">
    <button onclick="document.getElementById('menu').style.display='block'" class="w3-button">夏季课程</button>
    <button onclick="document.getElementById('menu').style.display='block'" class="w3-button">周末元气跑</button>
    <button onclick="document.getElementById('contact').style.display='block'" class="w3-button">马甲线女神计划</button>
  </p>
  </div>
  <!-- <div class="w3-display-topmiddle w3-container w3-large">
    <p class="text-center"><button onclick="document.getElementById('menu').style.display='block'" class="w3-button">夏季课程</button>
    <button onclick="document.getElementById('menu').style.display='block'" class="w3-button">周末元气跑</button>
    <button onclick="document.getElementById('contact').style.display='block'" class="w3-button">马甲线女神计划</button></p>
  </div> -->
  <div class="w3-display-bottomcenter w3-container">
    <p>Copyright 2017@BosGalRun</a></p>
  </div>
</div>
</div>
</div>
</div>



</head>
</html>
