<!DOCTYPE html>
<html>
  <body>
<div id="home-hero" class="home-hero home-hero-video video-autoplay is-ML img-middle">
  <div class="scale-wrapper">
    <div class="scale-container">
      <div class="hero-media-container">
        <div class="background"><video id="video-autoplay" class="video" autoplay="true" loop="" height="100%" width="100%" poster="https://images.lululemon.com/is/image/lululemon/gbl_may23_traintimes_Hero_Homepage_whatsnew?$gsr_homehero_2x1_lg$"><source type="video/mp4" src="http://images.lululemon.com/is/content/lululemon/homepageAssets/Hero%20video/traintime_5sec_updated.mp4">
          <img src="https://images.lululemon.com/is/image/lululemon/gbl_may23_traintimes_Hero_Homepage_whatsnew?$gsr_homehero_2x1_lg$" title="Your browser does not support the <video> tag"></video>
        </div>
      </div>
    </div>
  </div>
  <div class="content"><div class="container">
    <div class="inner-container">
      <div class="hero-content hero-text-light">
        <h1>Up. Lift.</h1>
        <p></p>
        <p>Elevate your training with the new Train Times Collection.<br></p>

</body>
</html>
