<!DOCTYPE html>
<html>
  <head>
    <style>
    #bgimg {
      background-image:url("http://www.magic4walls.com/wp-content/uploads/2016/06/Fitness-girl-doing-warm-up-routine-in-room-before-workout.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }

    .div1 {
        width: 800px;
        height: 300px;
        background-color: blue;
        box-sizing: border-box;
    }
    </style>
  </head>
<body>


<!-- Header with image -->
 <div class="jumbotron" id="bgimg">
    <br>
    <br>
     <h1 class="title, text-center"> 55天马甲线女神养成计划</h1>
     <p class="slogan, text-center">2017年 5月22日－7月15日
     </p>
     <p class="lead, text-center"><a class="btn btn-lg btn-danger" href="/jobs">立刻报名</a></p>
     </p>
     </div>
   </div>
 </div>

 <!-- About Container -->
 <div1 class="box, text-center">
   <h1>召唤波士顿马甲线女神！</h1>
   <blockquote>
     <p>为了夏天的小蛮腰和比基尼，女神们一起流汗一起练出马甲线吧！
     <br>
     波士顿著名私教 Howard 将提供1小时的加强版腹肌训练，适合所有热爱户外运动的妹子。
     <br>
     7月份我们还会组织cap cod 秀马甲线拍写真活动，阳光☀️ 沙滩🏖️ 大海，就差你的腹肌马甲线了！
     </p>
   </blockquote>
 </div>
 <hr>

  <!-- value proposition -->
    <div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading, text-center">户外腹肌课程 + 系统健身指导</h2>
            <p class="text-center" style="margin-top:20px">为期三个月的团体户外力量训练，
              <br>
              让健身一步步成为必须成为习惯，打造你的perfect body！</p>
          </div>
          <div class="col-lg-6 col-lg-offset-2 col-sm-6">
            <%= image_tag 'https://static.pexels.com/photos/196640/pexels-photo-196640.jpeg', class: 'img-responsive' %>
          </div>
        </div>
      </div>
    </div>

    <div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-6">
            <%= image_tag 'https://static.pexels.com/photos/196640/pexels-photo-196640.jpeg', class: 'img-responsive' %>
          </div>
            <div class="col-lg-4 col-sm-6">
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
              <h2 class="section-heading, text-center">户外腹肌课程 + 系统健身指导</h2>
              <p class="text-center" style="margin-top:20px">为期三个月的团体户外力量训练，
            <br>
            让健身一步步成为必须成为习惯，打造你的perfect body！</p>
            </div>
          </div>
        </div>
      </div>

      <div class="content-section-a">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-sm-6">
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
              <h2 class="section-heading, text-center">户外腹肌课程 + 系统健身指导</h2>
              <p class="text-center" style="margin-top:20px">为期三个月的团体户外力量训练，
                <br>
                让健身一步步成为必须成为习惯，打造你的perfect body！</p>
            </div>
            <div class="col-lg-6 col-lg-offset-2 col-sm-6">
              <%= image_tag 'https://static.pexels.com/photos/196640/pexels-photo-196640.jpeg', class: 'img-responsive' %>
            </div>
          </div>
        </div>
      </div>

      <div class="container, text-center">
        <br>
        <h3>开启你的元气一夏</h3>
        <br>
        <p class="lead, text-center"><a class="btn btn-lg btn-danger" href="/jobs">立刻报名</a></p>
      </div>

  </body>
</html>
