<div class="col-md-8 col-md-offset-2 admin-data-box">
  <hr style="size:2px" />
  <%= simple_form_for [:admin, @category_group] do |f| %>
    <%= f.input :name, :label => "分类名称" %>
    <span class="hidden-box"><%= f.input :is_hidden, :label => "隐藏" %></span>
    <div class="form-actions">
      <%= f.submit "确认送出", class: 'btn btn-md btn-default' %>
    </div>
  <% end %>
</div>
