@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Six+Caps');
@import url('https://fonts.googleapis.com/css?family=Medula+One');
@import url(http://fonts.googleapis.com/css?family=helvetica);


/****** welcome header ******/


/****** welcome intro ******/
.jumbotron {
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    margin-bottom: 50px;
    padding-bottom: 500px;
  }

  .box-inner {
      background-color: rgba(250, 250, 250, 0.69);
      padding-bottom: 5px;
      margin-top: 300px;
      margin-bottom: 150px;
  }

  .title {
      color: #ffffff;
      font-family: 'Anton', sans-serif;
      font-size: 100px;
      margin-top: 230px;
      margin-bottom: 80px;
      padding: 0px 50px 0;
  }

  .slogan {
    color: #ffffff;
    font-family: Calibre thin;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 25px;
    padding: 0px 50px 0;
}

  .lead {
        margin-bottom: 60px;
        padding: 0px 50px 0;
    }

/****** welcome section ******/
  .jumbotron {
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: 0px;
      margin-bottom: 50px;
      padding-bottom: 500px;
    }

    .box {
      background-color: #f8f8f8;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 50px;
    }
    
    .box-inner {
       background-color: #f8f8f8;
       padding-bottom: 5px;
       margin-top: 150px;
       margin-bottom: 150px;
       width: 800px;
       height: 300px;
   }


  //---------Content---------

.content-section-a {
  padding: 0;
  background-color: #f8f8f8;
}

.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}

.section-heading {
  margin-bottom: 30px;
}
